# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# log file
console-history.txt

# dependencies
node_modules
npm-debug.log*
yarn-error.log

# production
dist
docs-dist
*/artifacts/*

# misc
.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local
.idea
.vscode
.husky
